.wrapper {
  max-width: 1200px;
  margin: 2rem auto;

  .postForm {
    background-color: rgb(250, 250, 250);
    max-width: 350px;
    padding: 2rem;

    mat-form-field {
        min-width: 150px;
        max-width: 350px;
        width: 100%;
    }
  }
}
